<%- include header.ejs %>
    <section class="header-banner">
      <img class="img-fluid" src="./images/header-img.png" alt="image" alt="header-image">
    </section>
    <main>

        <section class="create-memories section-text ">
         <div class="container">
            <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                <h2 class="section-title"> Create lasting memories</h2>   
                <p> <strong> Step 1. </strong> Create an easy step by step virtual memorial of a passed loved one for your family, historians and future generations to visit within our special online platform. </p>
                <p>  <strong> Step 2. </strong>  Give friends and family instant access to the virtual memorial where they can see images, videos, music, audio and more by placing our unique interactive memorial plaque on an urn, gravestone, one of our hand selected memorabilia products, or a safe place for you to mourn.</p>
                <a href="https://emeraldparkmemorial.com.au/signup" class="cta-btn">Create your account</a> <br></n><br></n>
                <p>Need help?  Contact us via live chat, phone or email.  We can talk you through the steps.</p>
            </div>
         </div>
        </section>
        <section class="bg-green section-text connect-family">
          <div class="container">
              <div class="d-flex flex-wrap align-items-center">
                  <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="embed-responsive embed-responsive-16by9">
                   
                      <iframe width="600" height="400" src="https://www.youtube.com/embed/pM0RRTN5bqQ">
                      </iframe>
                      </div>
                      
                  </div>
                  <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                     <h2 class="section-title"> Connect Family </h2> 
                     <p> Imagine connecting your family with future generations. Cementing your story in to the annals of time. With Emerald Park Memorial you can share your past with the future and honour those closest to you forever.</p>
                  </div>
              </div>
          </div>
        </section>
        <section class="build-legacy section-text">
            <div class="container">
                  <div class="d-flex align-items-center flex-wrap">
                     <div class="col-12 col-md-5 col-lg-5 col-xl-5">
                        <h2 class="section-title">Build a legacy</h2>
                        <p>Create a gift for future generations with our special digital platform. Design a webpage with personal stories, photos, videos, audio and more for yourself or passed loved ones. </p>
                     </div>   
                        <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                         <img src="./images/build-legacy.png" alt="build-legacy"/>
                        
                  </div>
            </div>
        </section>
        <section class="bg-green--light section-text share-memories">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="embed-responsive embed-responsive-16by9">                     
                        <iframe width="600" height="400" src="https://www.youtube.com/embed/GMJ6Qx5jPdc">
                        </iframe>
                        </div>
                    </div> 
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                       <h2 class="section-title"> Share the memories </h2> 
                       <p> Our unique interactive memorial plaque combines a physical and virtual memorial. Imagine being able to instantly give family and friends a glimpse of the past via a QR Code on your smartphone.</p>
                        <p> Our interactive memorial plaques can also be sold separately to place anywhere, such as a tree or park bench. </p>
                    </div>
                </div>
            </div>
          </section>
          <!-- product section -->
          <section class="honourthepast section-text "> 
            <div class="container"> 
                <h2 class="section-title">Honour the past</h2>
                <p>Honour the past by placing your personalised interactive memorial plaque on any one of our beautiful hand selected products.</p>
                <p>You do NOT have to buy our products to make a virtual memorial</p>
                <div class="spacer--60"></div>
            <!-- product carousel -->
            <div class="owl-carousel">
                <% if ( typeof(Allproducts) !='undefined') { %>

                <% if (typeof Allproducts[0]=='object') { %>
                   
                        <% Allproducts.forEach(function(productdata) { %>
                        <div>                     
                            <div class="col-12 ">
                                <figure>
                                  <a href="javascript:void(0)"><img src="http://emeraldparkmemorial.com.au/<%=productdata.product_image %>" alt="image"></a>
                                </figure>
                                <h4><%=productdata.productittle %></h4>
                                <p> <%=productdata.productshortdescription  %></p>
                                <h5> $<%=productdata.product_amount %></h5>
                               
                              </div>
                            </div>
                        <% }) } } %>

                        
                 </div>
            
                 <!-- product carousel  -->
                 <a href="https://emeraldparkmemorial.com.au/product" class="view-all-products"> View All Products Here</a>
                </div>
                 
            </div>
            
          </section>
        <!-- <section class="top-content mt-4">
        <div class="container text-center"> 
            <h2> Emerald Park Memorial</h2>    
            <p> ‘The only place to create a plaque that tells the story of your loved one..’</p>    
           
            <p> The interactive plaque we provide you with will contain the life journal you create.  Change the content as often as you like, with video/pictures/audio of your loved one.  You choose what is left behind..</p>    
            
            <p>  Our unique plaques can be displayed anywhere you’d like to have your loved one remembered e.g. a  fire mantle, next to a grave site, attached to a tree,  in a garden or your own  special place.</p>    
           
            <p>  We offer a carefully selected range of products to suit all types of settings.</p>
            <p>  Point your device’s camera at the mountable plaque. You will instantly view the memorial of the life left behind.</p>     
            <p> &nbsp;</p>
            <p>  <span>Click sign up to create your account. Your account will become live once you’ve activated it by paying the one off fee of $299.</span><br> You will then have full access to upload videos, images, and audio of your loved one.</p>
            <p> &nbsp;</p> 
           
         </div>   
        </section> -->
        
    
   
    <section class="create_account pt-0 ">
        
        <section class="text-center heading--b blue-bg mt-0  "> 
            <h2 class="text-white">How to get started </h2>
           </section>
        <div class="container text-center">
           
            <!-- <p>  Click sign up for a new account </p>
            <p> or</p>
            <p> Click login to edit your memorial</p> -->
            <img class="img-fluid" src="./images/Steps.jpg" alt="steps">
        </div>
    </section>
    <section id="home_about" class="blue-bg" >
        <div class="container text-center">
        <h3 class="text-white"> About Emerald Park</h3> 
        <p> At Emerald Park, we believe life stories should never be lost.</p>   
        <p class="my-0"> &nbsp;</p>
        <p>We recognise life is a unique journey and the significance of preserving these life stories.  </p>
        <p>We strive to offer a place of remembrance, and provide a platform to ensure your loved ones memory is honoured and their life story lives on for future generations.  </p>
        <p class="my-0"> &nbsp;</p>   
        <p>We’ve created an easy way to celebrate a life to share with others. </p>         
        </div>
    </section>
    <section  class="top-content search_ mt-4">
        <div class="container text-center"> 
            <form method="POST">
              
                <h3> Search our data base for lost loved ones</h3>
                <div class="form-group search_form col-12 col-md-9 col-lg-9 mx-auto d-flex justify-content-center flex-wrap">
                    
                
                
                <div class="col-12 col-md-4 col-lg-4 text-left" style="margin-top: 35px;">
                    <label for="inputDateDeath" class="col-form-label"></label>
                     <a class="btn btn-primary " href="https://emeraldparkmemorial.com.au/#abt_us">Click Here to Search your lost Loved Ones</a>
                    </div>
                </div>
                </form>
         </div>      
    </section>
    <section class="contact_form" id="contact_vv">
            <div class="container ">
                <h3 class="heading_content"> Contact Us
                    <div class="d-flex align-items-center flex-wrap contact-number text-center justify-content-center"> <h5> Phone Number:</h5> <a href="tel:1300289748" >1300 289 748</a>  
                    </div>
                </h3>
              
                <div class="d-flex flex-wrap">
                    <div class="col-12 col-lg-6 col-md-6">
                    <form method="POST" action="/contctus">

                        <div class="form-group">
                            <label for="email">Your Name (required)</label>
                            <input type="text" required class="form-control" name="name" placeholder="Enter your name" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Your Email (required)</label>
                            <input type="email" required class="form-control" name="email" placeholder="Enter email" id="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Your Message</label>
                            <textarea class="form-control" required rows="8" name="message" placeholder="Type your message"></textarea>
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6">
                         
                            <iframe frameborder="0" width="100%" height="100%" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Ballarat&amp;t=m&amp;z=11&amp;output=embed&amp;iwloc=near" aria-label="Ballarat"></iframe>
                        </div>
                      
                </div>
           </div>
    </section>
    </main>
    <%- include footer.ejs %>